<div class="container">
  <div class="row">
    <div id="col-md-9">
      <div id="pageBodyMain">
        <article class="articleDetail">
          <header class="articleDetailHead">
            <h1 class="page-title mt-5">ゲームを紹介するサイトです</h1>
            <section>
              <p class="heading-typeA">プレイして面白かったゲームを紹介してみませんか？</p><br>
            </section>
          </header>

         <section class="articleDetailBody">
           <section>
            <p>どうも管理人です。<br>
               ゲームって何が面白いの?って思う方必見!!<br>
               プレイするだけで1日を過ごせるようなゲームを紹介しませんか？<br>
            </p>
            </section>
            <section>
              <h2>My Favorite Game!</h2>
            </section>
            <section>
                <h3>
                  トップページに投稿したゲームの情報を共有
                </h3>
                <div class="card">

                </div>
                <div class="blue_box">
                  <div class="box_title">
                    <span>タイトル、ゲームの個数を投稿</span>
                    </div>
                      タイトルとゲームの個数を投稿してオンラインショッピングのような機能を設けております。<br>
                      メールの送信、電話番号、詳細情報、ゲーム名、ゲームの画像を投稿できます<br>
                      メールの送信後は各自でやりとりを行うようにしてください<br>
                      投稿した本人のみが投稿の削除をおこなったり編集できるようにしました。閲覧はどのユーザーでもできます
                    </div>

                  <div class="pink_box">
                    <div class="box_title">
                        <span>ひとこと感想</span>
                    </div>
                      コードは読みにくいと思いますのであしからず、、
                  </div>
                  <div class="positioning">
                      <div class="thumbnail"><img src="img/1-109.jpg" alt="" height="200" width="250"></div>
                      <div class="thumbnail"><img src="img/2018.jpg" alt="" height="200" width="250"></div>
                      <div class="thumbnail"><img src="img/roman.jpg" alt="" height="200" width="250"></div>
                      <div class="thumbnail"><img src="img/IMG_2593.jpg" alt="" height="200" width="250"></div>
                  </div>
                  <br>

                  <div class="yellow_box">
                    <div class="box_title">
                      <span>ここがポイント！</span>
                    </div>
                     <ul>
                       <li>ajax送信</li>
                        <li>サムネイルのの画像の表示の仕方</li>
                        <li>scaffoldでのcontrollerの記入の仕方</li>
                      </ul>
                  <div>

              </section>

              <section>
                <h3>ユーザー情報の閲覧機能</h3>
                <img src="img/pubgmobile.jpg" alt="" width="720" height="390"><br>
                <div class="blue_box">
                  <div class="box_title">
                    <span>どんな機能があるか</span>

                  </div>
                  ユーザー個人のプロフィール画像と全てのユーザーの投稿したコメントを閲覧することができます
                </div>

                <div class="pink_box">
                  <div class="box_title">
                      <span>ひとこと感想</span>
                  </div>
                  ユーザーの個人ページからの削除機能を実装するのにかなり時間をかけた
                </div>
                <br>

                <div class="yellow_box">
                  <div class="box_title">
                    <span>ここがポイント！</span>
                  </div>
                  <ul>
                    <li>投稿機能をモーダルで</li>
                    <li>コメントと画像を投稿してゲームのより詳細な感想を投稿できるようにした</li>
                  </ul>
                <div>

              </section>


            </section>

            <section>
              <h3>様々なgemを追加</h3>
              <div class="blue_box">
                <div class="box_title">
                  <span>どんな機能があるか</span>

                </div>
                devise、railsadmin、facebookログイン、carrierwave、kaminariなどなど
              </div>

              <div class="pink_box">
                <div class="box_title">
                    <span>ひとこと感想</span>
                </div>
              adminユーザーは一回urlにadminを入力してからメールアドレスichiro@gmail.com、パスワードfoobarでログインしてみてください
              </div>
              <div class="yellow_box">
                <div class="box_title">
                  <span>ここがポイント！</span>
                </div>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              <div>

            </section>

          </article>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <div class="card">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
 </div>
